<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<h3>Captcha
<br>
Ка́пча — компьютерный тест, используемый для того, чтобы определить,
<br>
кем является пользователь системы: человеком или компьютером. Терм-
<br>
ин «Капча» появился в 2000 году. Основная идея теста: предложить поль-
<br>
зователю такую задачу, которая с лёгкостью решается человеком, но
<br>
крайне сложна и трудоёмка для компьютера.
<br>
    Это пример капчи вы можете <button type="button" class="btn btn-outline-primary"><a href="{% url 'register' %}">зарегистрироваться</a></button> если вы уже регистрирова-
<br>
лись вы можете <button type="button" class="btn btn-outline-warning"><a href="{% url 'login' %}">войти</a></button>
</h3>
Ещё вы можете посмотреть <button type="button" class="btn btn-outline-info"><a href="{% url 'list-book' %}">список</a></button> книг и <button type="button" class="btn btn-outline-warning"><a href="{% url 'create_form' %}">добавить</a></button>книгу, но для того чтобы добавить книгу нужно зарегистрироваться
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>